.form {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px; 
    /* position: absolute; */
    width: 100%;
    height: 247px;
    margin-top: 41px;
    background: #4f9419;

  @media screen and(min-width: 768px - 1) {
    // top: 95px;
    width: 100%;
    // position: absolute;
    /* margin: 409px 72px 73px 28px; */
  }
  &__country {
    position: absolute;
    top: 95px;
    left: 25px;
    height: 48px;
    border-radius: 7px;
    background: #ffffff;
    width: 80%;
    max-width: 303px;
    border-radius: 7px;
    border-color: transparent;
    
    @media screen and(min-width: 768px - 1) {
        top: 126px;
        left: 73px;
      //margin: 126px 72px 73px 34px;
      width: 100%;
      }


     
  }
  &__place {
    position: absolute;
    top: 155px;
    max-width: 455px;
    left: 25px;
    height: 48px;
    background: #ffffff;
    border-radius: 7px;
    border-color: transparent;
    width: 80%;
@media screen and (min-width: 768px - 1) {
   // margin: 409px 72px 73px 28px;
    width: 100%;
}


  }

  &__date {
    top: 215px;
    left: 25px;

      position: absolute;
    width: 160px;
    height: 48px;
    background: #ffffff;
    border-radius: 7px;
    border-color: transparent;
   
  }
   &__btn {
    top: 215px;
    left: 195px;
    position: absolute;
    width: 104px;
      height: 49px;
      background: #006c18;
      border-radius: 7px;
    }
}
