*,
:after,
:before {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  color: #212529;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border-style: none;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}
